@media (min-width: 1024px) {

    .box__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: auto;
        text-align: center;
        color: var(--gray-default);
        overflow: hidden;
        padding-block: 50px;
        text-align: justify;
    }
    
    .box__container ul {
        display: flex;
        gap: 3%;
        list-style: none;
        margin-top: 3%;
    }
    
    .box__container ul li {
        text-align: center;
    }
    
    .box__container ul li img {
        
        width: 280px;
    }

}