@media (max-width: 767px) {
    .header__Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 15px;
        width: 80%;
        margin: auto;
        height: auto;
    }

    .logo__container img {
        width: 230px;
    }

    .menu li {
        display: inline-block;
        list-style: none;
        padding-inline: 5px;
        font-weight: 500;
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .menu li a {
        text-decoration: none;
        color: var(--gray-default);
    }

    .submenu {
        display: none;
        position: absolute;
        list-style: none;
        color: white;
        background-color: var(--blue-default);
        text-align: center;
        width: 85px;
        font-size: 0.8rem;
    }

    .submenu:hover {
        display: block;
    }

    .submenu li {
        display: block;
        padding: 10px;
    }

    .submenu li a {
        color: white;
    }

    .submenu li:hover {
        background-color: white;
    }

    .submenu li:hover .submenu__a {
        color: var(--blue-default);
    }

    .dropdown:hover .submenu {
        display: block;
    }

    .submenu2 {
        display: none;
        position: absolute;
        list-style: none;
        text-align: center;
        width: 85px;
        font-size: 0.8rem;
        left: 85px;
        color: white;
        background-color: var(--blue-default);
    }

    .submenu2 li a {
        color: white;
    }

    .submenu2 li {
        display: block;
        padding: 10px;
    }

    .submenu li:last-child:hover .submenu2 {
        display: block;
    }


    .submenu2 li:hover {
        background-color: white;
    }

    .submenu2 li:hover .submenu2__a {
        color: var(--blue-default);
    }
}