@import url("faixa/faixa.css");
@import url("header/header.css");
@import url("herosection/herosection.css");
@import url("midsection/midsection.css");
@import url("box/box.css");
@import url("footer/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --blue-default: #010057;
    --gray-default: #8f8f8f;
    --gray-dark: #3b3b3b;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

